
<table id="gridlist" class="easyui-datagrid " url="products.json" singleSelect="true"
    selectOnCheck="true" rowNumbers="true" style="height: 300px;border-top: 0px; border-right:1px dotted transparent;"
       striped="true"
>
    <thead>
        <tr>
            <th field='' checkbox="true">check</th>
            <th field="productid">productid</th>
            <th field="productname">productname</th>
            <th field="unitcost" align="center" >unitcost</th>
        </tr>
    </thead>

</table>
<div style="padding-top: 10px">
<input class="easyui-textbox"  style="width: 80px">
    <a class="easyui-linkbutton" iconCls="icon-search">Search..</a>
</div>

