
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/demo.css">
    <script type="application/javascript" src="http://127.0.0.1:9900/static/js/jeasyui/jquery.min.js"></script>
    <script type="application/javascript" src="http://127.0.0.1:9900/static/js/jeasyui/jquery.easyui.min.js"></script>


    <!--{% load static %}-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/themes/default/easyui.css'%}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/themes/icon.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/demo.css' %}">-->
    <!--<script type="application/javascript" src="{% static 'js/jeasyui/jquery.min.js'%}"></script>-->
    <!--<script type="application/javascript" src="{% static 'js/jeasyui/jquery.easyui.min.js'%}"></script>-->

</head>
<body>

<table id="grid" class="easyui-datagrid" rowNumbers="true"
    url="http://127.0.0.1:8000/jomo/rest/wxusers/"
       method="get" style="height: 300px" singleSelect="true"
       pagination="true"
>
<thead>
			<tr>
				<th data-options="field:'wechaname',width:180">wechar-name</th>
				<th data-options="field:'wecha_id',width:180">wechar-id</th>
				<th data-options="field:'tel',width:100">telphone</th>
			</tr>
		</thead>
</table>

<a id="button2" class="easyui-linkbutton">load datagrid panel</a>


<script>
    $(document).ready(function () {
        $('#list').datalist({
            onClickRow: function (index,row) {
                console.log(row.text);

            }
        });
        $('#button1').linkbutton({
            onClick: function () {
                var data = $('#list').datalist('getChecked');
                data.map(
                        function(_){
                            console.log( JSON.stringify(_) );
                        });
//                console.log(data);
                $.messager.show({
                    title:'test',
                    msg:'messager pop',
                    showType:'show'
                });
            }
        });

        $('#button2').linkbutton({
            onClick: function () {
//                $.ajax({
//                    url:'easyui_dialog.html',
//                    success: function (data,status,xhr) {
//                        $('#grid').html(data );
//                        $('#gridlist').datagrid();
//                    }
//                });

                $('#grid').load('easyui_dialog.html',function (data) {
                    console.log( data );
                    $.parser.parse('#grid');
                    changeBorder('lines-bottom');


                });


            }
        });
//        var dialog1 = $('<div>').dialog({
//            autoOpen: false,
//            modal:true,
//            open:function () {
//                $(this).load('easyui_dialog.html');
//            },
//            height:400,
//            width:400,
//            title:'test load dialog'
//        });

    });


        function changeBorder(cls){
            $('#gridlist').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass(cls);
        }



</script>



</body>
</html>