
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:9900/static/js/jeasyui/demo.css">
    <script type="application/javascript" src="http://127.0.0.1:9900/static/js/jeasyui/jquery.min.js"></script>
    <script type="application/javascript" src="http://127.0.0.1:9900/static/js/jeasyui/jquery.easyui.min.js"></script>


    <!--{% load static %}-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/themes/default/easyui.css'%}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/themes/icon.css' %}">-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'js/jeasyui/demo.css' %}">-->
    <!--<script type="application/javascript" src="{% static 'js/jeasyui/jquery.min.js'%}"></script>-->
    <!--<script type="application/javascript" src="{% static 'js/jeasyui/jquery.easyui.min.js'%}"></script>-->

</head>
<body>
<a id="button1" class="easyui-linkbutton">get count</a>
<ul id="list" class="easyui-datalist" title="Basic DataList" style="width:400px;height:250px"
    checkbox="true" selectoncheck="false"

    >
    <li value="AL">Alabama</li>
    <li value="AK">Alaska</li>
    <li value="AZ">Arizona</li>
    <li value="AR">Arkansas</li>
    <li value="CA">California</li>
</ul>


<div id="tb" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true"></a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true"></a>
    </div>
    <div>
        Date From: <input class="easyui-datebox" style="width:80px">
        To: <input class="easyui-datebox" style="width:80px">
        Language:
        <input class="easyui-combobox" style="width:100px"
               url="data/combobox_data.json"
               valueField="id" textField="text">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#list').datalist({
            onClickRow: function (index,row) {
                console.log(row.text);

            }
        });
        $('#button1').linkbutton({
            onClick: function () {
                var data = $('#list').datalist('getChecked');
                data.map(
                        function(_){
                            console.log( JSON.stringify(_) );
                        });
//                console.log(data);
                $.messager.show({
                    title:'test',
                    msg:'messager pop',
                    showType:'show'
                });
            }
        });

    });

</script>



</body>
</html>